:root {
  --clr-background: #eceff1;
  --clr-primary: #000000;
  --clr-accent: #f1511b;
  --clr-grey: #7c7c7c;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dark-mode {
  --clr-background: #000000;
  --clr-primary: #ffffff;
}

body {
  transition: 0.4s;
  background-color: var(--clr-background);
  color: var(--clr-primary);
}

/* Navbar */
.navbar {
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  color: var(--clr-primary);
  text-decoration: none;
  margin: 10px;
}

.resume-link {
  color: var(--clr-accent);
}

.under-navbar {
  height: 60px;
}

/* Dark Mode Toggle */
.wrapper-color-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
}

.color-switch {
  font-size: 13px;
  color: var(--clr-grey);
  width: 45px;
  height: 22px;
  border-radius: 11px;
  background: var(--clr-primary);
  position: absolute;
  cursor: pointer;
}

.color-switch-toggle {
  width: 18px;
  height: 18px;
  background: var(--clr-background);
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.color-switch::before {
  content: "L I G H T";
  position: absolute;
  display: inline-block;
  width: 120px;
  left: 55px;
  top: 4px;
}

#input-color-switch:checked ~ label .color-switch-toggle {
  transform: translatex(23px);
}

#input-color-switch:checked ~ .color-switch::before {
  content: "D A R K";
}

#input-color-switch {
  display: none;
}

/* Socials Bar */
.socials-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.socials-bar > div {
  margin-top: 20px;
}
.social-option i {
  color: var(--clr-primary);
  font-size: 32px;
}

.socials-line {
  width: 2px;
  height: 40px;
  background-color: var(--clr-primary);
}
